.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: var(--xs);
  cursor: pointer;
  color: var(--crusta);
  width: fit-content;

  border-radius: 0.2em;
  background-color: inherit;
  outline: 2px solid inherit;
}

.btn:hover,
.outlined {
  background-color: var(--crusta-trans-2);
  outline: 2px solid var(--crusta-trans);
}

.fullWidth {
  width: auto;
}
