.navbar {
  width: 100%;
  z-index: 999;
  /* position: fixed; */
  display: flex;
  padding: var(--sm) var(--md);
  justify-content: space-between;
  background-color: var(--dark-blue);
}
.logo {
  display: flex;
}
.navbarRight {
  gap: 5%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
