#menuToggle {
  opacity: 0;
}
#menuToggle:checked + .menuBtn > span {
  transform: rotate(45deg);
}
#menuToggle:checked + .menuBtn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menuToggle:checked + .menuBtn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menuToggle:checked ~ .menuBox {
  right: 0 !important;
}
.menuBtn {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;

  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  z-index: 99999;
}
.menuBtn > span,
.menuBtn > span::before,
.menuBtn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;

  background-color: #616161;
  transition-duration: 0.25s;
}
.menuBtn > span::before {
  content: '';
  top: -8px;
}
.menuBtn > span::after {
  content: '';
  top: 8px;
}
.menuBox {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 30%;
  height: 100%;
  padding: 20% 0;
  list-style: none;
  background-color: var(--dark-blue);
  z-index: 99998;
  transition-duration: 0.25s;
}
.menuItem {
  display: block;
  padding: 12px 24px;
  color: var(--crusta);
  transition-duration: 0.25s;
}
.menuItem:hover {
  color: var(--dark-blue);
  background-color: var(--crusta);
}
