.aboutRoot,
.storyRoot {
  display: flex;
  gap: var(--huge);
  flex-direction: column;
  padding: var(--huge);
  background-image: var(--service-bg);
}
.aboutItem {
  display: flex;
  flex-direction: column;
  gap: var(--xxs);
}

.aboutTitles {
  display: flex;
  align-items: center;
  gap: var(--sm);
  justify-content: space-around;
}
.column {
  display: flex;
  flex-direction: column;
  gap: var(--sm);
  margin-bottom: var(--huge);
}
.storyTitles {
  display: flex;
  gap: var(--sm);
  align-items: center;
  flex-direction: column;
}

/* Testimonials */
.brandsRoot {
  display: flex;
  gap: var(--sm);
  padding: var(--lg) 0;
  margin: var(--lg) 0;
  flex-direction: column;
  justify-content: center;

}
.testimonialsItem {
  padding: var(--huge);
}

@media only screen and (max-width: 1100px) {
  .aboutRoot {
    text-align: center;
  }
  .aboutTitles {
    flex-direction: column;
  }
}
