@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --card-shadow: 2px 2px 14px 1px #00000029;
  --main-red-trans-2: #d4000041;
  --main-red-trans: #d40000a4;
  --main-red: #d40000;

  --dark-blue: #1b232e;
  --space-blue: #2c5a65;

  --crusta-trans-2: #ea8c5525;
  --crusta-trans: #ea8c5590;

  --crusta: #ea8c55;
  --white: #f7f3e3;
  --grey-white: grey;

  /* Pattern backgrounds https://pattern.monster/ */

  --service-bg: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='32' height='32' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M37.657 10.343l-4.243 4.243m-2.828 2.828l-4.243 4.243m11.314 0l-4.243-4.243m-2.828-2.828l-4.243-4.243m-20.686 0l-4.243 4.243m-2.828 2.828l-4.243 4.243m11.314 0l-4.243-4.243m-2.828-2.828l-4.243-4.243'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(215, 26%, 14%, 0.1)' fill='none'/><path d='M16-8v6m0 4v6m8-8h-6m-4 0H8m8 24v6m0 4v6m8-8h-6m-4 0H8'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(192, 39%, 28%, 0.1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

  --service-card-bg: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M20-5V5m0 30v10m20-30v10M0 15v10'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(22, 78%, 63%, 0.1450980392156863)' fill='none'/><path d='M-5 40H5M-5 0H5m30 0h10M35 40h10M15 20h10'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(22, 78%, 63%, 0.1450980392156863)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-26,-46)' fill='url(%23a)'/></svg>");

  --contact-bg: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='180' height='45' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='m0 5.625 14.06 7.03 16.876-8.438L22.502 0H11.25l8.436 4.219-5.623 2.81L0 0ZM33.75 0l2.81 1.406L39.374 0Zm16.871 0h.002L19.686 15.469l16.877 8.44 30.939-15.47 5.625 2.811-30.94 15.47 16.875 8.438 14.063-7.031 5.623 2.812L50.621 45h11.25l28.131-14.063L73.126 22.5l-14.065 7.033-5.623-2.812L84.374 11.25 67.498 2.81 36.561 18.282l-5.625-2.814L61.87 0H50.62Zm22.505 0L90 8.437l14.06-7.03 5.626 2.812-30.938 15.469 16.874 8.438 30.939-15.472 5.625 2.815L73.126 45h11.25l59.061-29.532L126.56 7.03 95.622 22.499l-5.621-2.814 30.934-15.467L112.498 0H95.621l-5.623 2.813L84.376 0Zm50.624 0h-.002l44.998 22.5-5.623 2.813-14.063-7.032-16.876 8.44 30.941 15.468-2.813 1.407L157.499 45h11.249l5.628-2.813-30.938-15.468 5.624-2.813 14.064 7.033L180 22.501 134.998 0Zm33.749 45L126.56 29.532l-16.877 8.439L123.749 45h11.249l-14.062-7.03 5.625-2.812L146.248 45ZM146.248 0l11.25 5.625L168.748 0Zm16.875 8.44L180 16.877V11.25l-5.625-2.815L180 5.625V0ZM0 11.25v5.627l42.186 21.092-5.625 2.814-30.938-15.47L0 28.122v5.629l5.623-2.813L33.75 45h5.624l14.062-7.031zm0 22.502v5.625L11.251 45h11.251zm180-5.631v.002l-11.252 5.627L180 39.377Zm-75.939 12.662L95.621 45h16.877z'  stroke-width='1' stroke='none' fill='hsla(22, 78%, 63%, 0.04)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

  --testimonial-bg: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50' height='50' patternTransform='scale(2) rotate(5)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M36.445 4.336c3.047-1.484 5.808-1.953 8.282-1.406.208.026.377.13.507.312l.118.586c-.495 2.5-2.045 4.857-4.649 7.07l-.351.157c-1.823.312-3.243-.3-4.258-1.836h-.04c-.963-1.51-.95-3.034.04-4.57l.351-.313M50 23.125c-1.823-1.224-3.307-3.138-4.453-5.742l-.078-.39c.182-1.824 1.146-3.022 2.89-3.595L50 13.203v9.922M29.766 0c-1.302 1.875-3.373 3.346-6.211 4.414l-.39.04c-1.824-.287-2.97-1.329-3.438-3.126L19.609 0h10.157M0 13.203c1.042.026 1.98.508 2.812 1.445l.196.391c.625 3.333.351 6.12-.82 8.36l-.47.39-.585-.039L0 23.086v-9.883M19.61 50c.051-1.172.611-2.174 1.68-3.008l.39-.156c3.385-.417 6.146.039 8.28 1.367l.352.469-.078.586-.468.742H19.609m17.54-18.36c-.652-1.692-.326-3.19.976-4.492a.68.68 0 01.352-.195c3.307-.86 6.106-.755 8.398.313l.43.43v.585c-.99 2.37-2.982 4.35-5.977 5.938l-.39.078c-1.876-.052-3.139-.925-3.79-2.617v-.04m7.883 15.43c-3.411.313-6.172-.247-8.281-1.68a.713.713 0 01-.313-.507.657.657 0 01.079-.547c1.354-2.188 3.658-3.815 6.914-4.883h.39c1.823.339 2.93 1.406 3.32 3.203.34 1.797-.234 3.23-1.718 4.297l-.39.117m-10.93-13.086c1.822.365 2.93 1.446 3.32 3.243v.039c.312 1.77-.287 3.19-1.797 4.257l-.39.118c-3.438.26-6.186-.339-8.243-1.797a.713.713 0 01-.312-.508.765.765 0 01.078-.586c1.38-2.161 3.698-3.75 6.953-4.766h.39M10.86 6.054c-2.03 2.709-4.283 4.389-6.757 5.04l-.586-.078-.352-.47c-.73-2.447-.417-5.233.938-8.358l.234-.313c1.51-1.12 3.047-1.237 4.61-.352h.038c1.589.964 2.266 2.357 2.032 4.18l-.157.352m2.149 11.836c-.912-3.282-.886-6.081.078-8.399a.713.713 0 01.39-.43c.183-.104.378-.104.587 0 2.395.886 4.44 2.813 6.132 5.782l.078.39c0 1.823-.833 3.112-2.5 3.868-1.692.65-3.203.364-4.53-.86l-.235-.351m22.383-3.868c.234 3.36-.352 6.094-1.758 8.204l-.508.351-.586-.117c-2.161-1.38-3.763-3.685-4.805-6.914v-.39c.365-1.824 1.433-2.917 3.204-3.282h.039c1.77-.339 3.19.247 4.257 1.758l.157.39M1.68 43.008c2.552-2.24 5.09-3.425 7.617-3.555l.547.195.273.547c.209 2.552-.65 5.222-2.578 8.008l-.312.234c-1.693.808-3.23.612-4.61-.585-1.354-1.25-1.745-2.748-1.172-4.493l.235-.351m9.922-10.82c-3.386-.652-5.886-1.954-7.5-3.907a.63.63 0 01-.196-.547.794.794 0 01.274-.547c1.9-1.718 4.557-2.656 7.968-2.812.157 0 .3.04.43.117 1.615.834 2.37 2.162 2.266 3.985v.039c-.156 1.823-1.107 3.033-2.852 3.632l-.39.04m13.437-10.743c3.177 1.172 5.417 2.839 6.719 5l.117.586-.352.469c-2.135 1.432-4.882 1.94-8.242 1.523l-.39-.156c-1.485-1.12-2.032-2.565-1.641-4.336v-.039c.443-1.77 1.576-2.8 3.398-3.086l.391.04m-7.773 14.452c1.744-.677 3.255-.39 4.53.86h.04c1.25 1.302 1.55 2.825.898 4.57l-.273.313c-2.682 2.083-5.287 3.112-7.813 3.086l-.546-.196a.75.75 0 01-.235-.547c-.078-2.578.95-5.195 3.086-7.851l.313-.235'  stroke-width='1' stroke='none' fill='hsla(22, 78%, 63%, 0.08)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

  --xxxs: 0.2em;
  --xxs: 0.5em;
  --xs: 0.8em;
  --sm: 1em;
  --md: 1.1em;
  --lg: 1.3em;
  --xl: 1.8em;
  --xxl: 2em;
  --xxxl: 2.5em;
  --huge: 3em;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #ea8c55 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #ea8c55;
  border-radius: 0px;
  border: 0px solid #ffffff;
}

a {
  color: blue;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: var(--crusta);
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Hr {
  margin-bottom: 10%;
}

#scroll-progress {
  position: fixed;
  top: 0;
  width: 0%;
  height: 4px;
  background: #7983ff;
  z-index: 10000;
}
