@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --main-red-trans-2: #d4000041;
  --main-red-trans: #d40000a4;
  --main-red: #d40000;

  --dark-blue: #1b232e;

  --crusta-trans-2: #ea8c5525;
  --crusta-trans: #ea8c5590;
  --crusta: #ea8c55;
  --white: #ffffff;

  --xxs: 0.2em;
  --xxs: 0.3em;
  --xs: 0.5em;
  --sm: 1em;
  --md: 1.1em;
  --lg: 1.2em;
  --xl: 2.3em;
  --xxl: 3em;
}



a {
  color: inherit;
  text-decoration: none;
}

