.root {
  gap: var(--huge);
  display: flex;
  padding: 4em 5em;
  align-items: center;
  background-color: var(--dark-blue);
}
.rootLeft {
  width: 60%;
  gap: var(--xl);
  display: flex;
  flex-direction: column;
}
.rootRight {
  border: 3px dashed var(--white);
}
.headings {
  display: flex;
  gap: var(--lg);
  flex-direction: column;
}

.btnSet {
  gap: var(--huge);
  display: flex;
  
}

@media only screen and (max-width: 1100px) {
  .root {
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: var(--dark-blue);
  }
  .rootLeft {
    width: 100%;
    align-items: center;
  }
}
